<div class="container-fluid">
  <div class="row">
    <h1>
      <i class="glyphicon glyphicon-plus"></i> Link
    </h1>
  </div>

  <div class="row">
    <form #linkForm="ngForm" (ngSubmit)="linkForm.form.valid && OnSubmit(linkForm)">
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="itemLinkName"> Name</label>
          <input name="Name" #Name="ngModel" [(ngModel)]="link.Name" id="itemLinkName" type="text" class="form-control"
            placeholder="Dashboard Name" required>
            <div *ngIf="linkForm.submitted && Name.invalid" class="invalid-feedback">
              <div *ngIf="Name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Business</label>
          <select class="form-control" (ngModelChange)="onChangeBusiness($event)" [(ngModel)]="selectedBusiness"
            [ngModelOptions]="{standalone: true}" #Business="ngModel" required>
            <option disabled selected value="undefined">--Select Business--</option>
            <option *ngFor="let b of business" [ngValue]="b.ID">{{b.Name}}</option>
          </select>
          <div *ngIf="linkForm.submitted && Business.invalid" class="invalid-feedback">
            <div *ngIf="Business.errors.required">Business is required</div>
        </div>
          
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Region</label>
          <select [disabled]="isRegionDisabled" class="form-control" [(ngModel)]="selectedRegion"
            [ngModelOptions]="{standalone: true}" required #Region="ngModel">
            <option disabled selected value="undefined">--Select Region--</option>
            <option *ngFor="let r of regions" [ngValue]="r.ID">{{r.Name}}</option>
          </select>
          <div *ngIf="linkForm.submitted && Region.invalid" class="invalid-feedback">
            <div *ngIf="Region.errors.required">Region is required</div>
        </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="biLink">Power BI Link</label>
          <input name="biLink" #PowerBiLink="ngModel" [(ngModel)]="link.PowerBiLink" id="biLink" type="url"  pattern="https?://.+"
            class="form-control" placeholder="Power BI Link" required url>
            <div *ngIf="linkForm.submitted && PowerBiLink.invalid" class="invalid-feedback">
              <div *ngIf="PowerBiLink.errors.required">Power BI link is required</div>
              <div *ngIf="PowerBiLink.errors.pattern">Power BI link must be a valid url</div> 
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="form-group col-sm-6">
          <label for="image">Select Image</label>
          <br>
          <label class="custom-file-upload">
            <i class="glyphicon glyphicon-search"></i>
            <input id="imageFile" type="file" (change)="handleFileSelect($event)" accept="image/*" /> Search File...
          </label>
          <i *ngIf="checked" class="glyphicon glyphicon-ok checked"></i>
        </div>
      </div> -->
      <div class="row pull-right">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary" >Add link</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <hr>
  </div>
  <!-- SEARCH -->
  <div class="row ">
    <div class="input-group col-md-6">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search Dashboards...">
    </div>
    <div class="col-md-6" style="text-align: right">
      <h5>
        Total records:
        <span class="badge badge-primary"> {{ linkCount }}</span>
      </h5>
    </div>
  </div>
  <br>
  <!-- end search -->
  <div class="row">

      <h1>
        <i class="glyphicon glyphicon-link"></i> Links
      </h1>
  
  </div>
  <div class="row">
    <div class="table-responsive">
      <table id="myTable" class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <!-- <th>Image</th> -->
            <th>Region</th>
            <th>Business</th>
            <!-- <th>BI Link</th> -->
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let l of links | searchFilter:{Name: searchText, Region: searchText, Business: searchText} | paginate: {itemsPerPage: 10, currentPage: p}">
            <tr>
              <td>{{ l.Name }}</td>
              <!-- <td>
                <img [ngStyle]="{'width': l.Name === 'LEAR' ? '180px' : '70px'}" height="60px"
                  src="{{server + l.LogoPath}}">
              </td> -->
              <td>{{ l.Region }}</td>
              <td>{{ l.Business }}</td>
              <!-- <td>{{ l.PowerBiLink }}</td> -->
              <td class="text-center">
                <button class="btn btn-info" (click)="showEditModal(l.ID)" tooltip="Edit">
                  <i class="glyphicon glyphicon-edit fa-lg"></i>
                </button>
                <button class="btn btn-danger" (click)="showAlertModal(l.ID)" tooltip="Delete">
                  <i class="glyphicon glyphicon-trash fa-lg"></i>
                </button>
                <button class="btn btn-warning" (click)="showTagModal(l.ID)" tooltip="Assign tags">
                  <i class="glyphicon glyphicon-tag fa-lg"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-12 pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- ALERT DELETE MODAL -->
<div class="modal fade" bsModal [config]="{backdrop: 'static'}" #AlertModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-danger">
        <button type="button" class="close" (click)="AlertModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>
          <i class="glyphicon glyphicon-trash"></i> Delete link</h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete this link?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteLink(ID)">
          <i class="glyphicon glyphicon-thumbs-up"></i> Yes</button>
        <button type="button" #btnCloseAlert class="btn btn-secondary" (click)="AlertModal.hide()">
          <i class="glyphicon glyphicon-thumbs-down"></i> No</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" bsModal [config]="{backdrop: 'static'}" #EditModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-edit">
        <button type="button" class="close" (click)="EditModal.hide()" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>
          <i class="glyphicon glyphicon-pencil"></i> Edit link</h4>
      </div>
      <form (ngSubmit)="frmModal.form.valid && editLink()" #frmModal="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="itemLinkName">Item Name</label>
              <input name="Name" #NewName="ngModel" [(ngModel)]="newLink.Name"  type="text"
                class="form-control" placeholder="Item Name" required>
                <div *ngIf="frmModal.submitted && NewName.invalid" class="invalid-feedback">
                  <div *ngIf="NewName.errors.required">Name is required</div>
              </div>
    
            </div>
            <div class="form-group col-sm-6">
              <label>Business</label>
              <select class="form-control" (ngModelChange)="onChangeBusiness($event)"
                [(ngModel)]="selectedBusinessModal" [ngModelOptions]="{standalone: true}" required #NewBusiness="ngModel">
                <option disabled selected value="undefined">--Select Business--</option>
                <option *ngFor="let b of business" [ngValue]="b.ID">{{b.Name}}</option>
              </select>
              <div *ngIf="frmModal.submitted && NewBusiness.invalid" class="invalid-feedback">
                <div *ngIf="NewBusiness.errors.required">Business is required</div>
            </div>
                  
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label>Region</label>
              <select [disabled]="isRegionDisabled" class="form-control" [(ngModel)]="selectedRegionModal"
                [ngModelOptions]="{standalone: true}" required #NewRegion="ngModel">
                <option disabled selected value="undefined">--Select Region--</option>
                <option *ngFor="let r of regions" [ngValue]="r.ID">{{r.Name}}</option>
              </select>
              <div *ngIf="frmModal.submitted && NewRegion.invalid" class="invalid-feedback">
                <div *ngIf="NewRegion.errors.required">Region is required</div>
            </div>
    
            </div>
            <div class="form-group col-sm-6">
              <label for="biLink">Power BI Link</label>
              <input name="biLink" #NewPowerBiLink="ngModel" [(ngModel)]="newLink.PowerBiLink" type="url"
                class="form-control" placeholder="Power BI Link" required pattern="https?://.+" url>
                <div *ngIf="frmModal.submitted && NewPowerBiLink.invalid" class="invalid-feedback">
                  <div *ngIf="NewPowerBiLink.errors.required">Power BI link is required</div>
                  <div *ngIf="NewPowerBiLink.errors.pattern">Power BI link must be a valid url</div> 
              </div>    
            </div>
          </div>
          <!-- <div class="row">
            <div class="form-group col-sm-6">S
              <label for="image">Select Image</label>
              <br>
              <label class="custom-file-upload">
                <i class="glyphicon glyphicon-search"></i>
                <input id="imageFileEdit" type="file" (change)="handleFileSelect($event)" /> Search File...
              </label>
              <i *ngIf="checked" class="glyphicon glyphicon-ok checked"></i>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success"> Save changes</button>
          <button type="button" #btnCloseEdit class="btn btn-secondary" (click)="EditModal.hide()"> Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- TAG ASSIGN MODAL -->
<div class="modal fade" bsModal [config]="{backdrop: 'static'}" #TagModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-tag">
        <button type="button" class="close" (click)="TagModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>
          <i class="glyphicon glyphicon-tags"></i> Assign tags</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" *ngIf="_error">
            <div class="alert alert-danger" role="alert">
              <strong>Oops!</strong> Please select at least one tag.
            </div>
          </div>
          <div class="col-md-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Assigned</h3>
              </div>
              <ul class="list-group">
                <a class="list-group-item" (click)="selectItem(t)" *ngFor="let t of tagsAssigned">
                  {{ t.Tag }} <i class="fa fa-check check_custom" *ngIf="t.isSelect"></i></a>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <ul class="list-tag">
              <li>
                <button type="button" class="btn btn-default single" (click)="removeOne()" [disabled]="enable"><i
                    class="fa fa-chevron-right"></i></button>
              </li>
              <li>
                <button type="button" class="btn btn-default single" (click)="addOne()" [disabled]="enable"><i
                    class="fa fa-chevron-left"></i></button>
              </li>
              <li>
                <button type="button" class="btn btn-default many" (click)="removeMany()" [disabled]="!enable"><i
                    class="fa fa-angle-double-right"></i></button>
              </li>
              <li>
                <button type="button" class="btn btn-default many" (click)="addMany()" [disabled]="!enable"><i
                    class="fa fa-angle-double-left"></i></button>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available</h3>
              </div>
              <ul class="list-group">
                <!-- <div class="input-group">
                  <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search tags...">
                  <span *ngIf="searchText" class="input-group-btn" (click)="clearSearch()">
                      <i class="fa fa-times" *ngIf="t.isSelect"></i>
                  </span>
                </div> -->

                <a class="list-group-item" (click)="selectItem(t)"
                  *ngFor="let t of tagsAvailable | searchFilter: { Tag: searchText }">
                  {{ t.Tag }}<i class="fa fa-check check_custom" *ngIf="t.isSelect"></i></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveTags(tagsAssigned)"> Save changes</button>
        <button type="button" #btnCloseEdit class="btn btn-secondary" (click)="cancelTags()"> Cancel</button>
      </div>
    </div>
  </div>
</div>
