<div class="container-fluid">
  <div class="row">
    <h1>
      <i class="glyphicon glyphicon-user"></i> Profile
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6 card-info">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <h3>Arturo Martinez Viesca</h3>
              <dl class="dl-horizontal">
                <dt>Business unit:</dt>
                <dd>General Motors</dd>
                <dt>Role:</dt>
                <dd>Admin / Client</dd>
                <h4>Access view:</h4>
                <ul>
                  <li>Procurement</li>
                  <li>Account Receivable</li>
                  <li>Account Payable</li>
                </ul>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
